
/****************** variables ******************/

$josefin: 'Josefin Sans', sans-serif;
$abril: 'Abril Fatface', cursive;

$navynight: #002863;
$rudolph: #F35849;
$rosy: #FF77E1;
$goldenrings: #F5DA77;
$noblefir: #023535;
$seafoamgrinch: #81D7AD;
$white: #FFF5F5;
$coal: #0E0B0B;




body{
    color: red;
    height: 100%;
    box-sizing: content-box;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: $josefin;
}


/************************************ fade transitions ******************/
.fade-appear, .fade-enter{
    opacity: 0;
    z-index: 1;
  }
  
  .fade-appear-active, .fade-enter.fade-enter-active{
    opacity: 1;
    transition: opacity 300ms linear 150ms;
  }
  .fade-exit{
    opacity: 1;
  }
  
  .fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }

/******************** NavBar ***********************/

.nav-holder{
width: 100%;
height: 87px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;

background: $navynight;
border-radius: 0px 0px 60px 60px;
}

.title{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 16px;
position: relative;

width: 167px;
height: 66px;
color: #81D7AD;
font-family: $abril;
/* noble fir */

background: #023535;
/* white as winter snow */

border: 4px solid #FFF5F5;
box-sizing: border-box;
}

.title:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 171.82px;
    height: 56.56px;
    z-index: -1;
    background: #81D7AD;
    -webkit-transform: rotate(12.57deg);
    -moz-transform: rotate(12.57deg);
    -o-transform: rotate(12.57deg);
    -ms-transform: rotate(12.57deg);
    transform: rotate(12.57deg);
    transform: rotate(12.57deg);
}

.logo{
    margin-left: 20px;
    font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 52px;
display: flex;
align-items: center;
}

.right-side{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 36.1vw;
    margin-right: 20px;
}

.nav-item{
    cursor: pointer;
    font-family: $josefin;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;
}

.white{
    color: $white;
    font-family: $josefin;
}

.transparent{
    background: transparent;
}

.red{
    color: $rudolph;
    font-family: $josefin;
}


/********************* Home page *******************/ 


#main{
    position: absolute;
    height: 100%;
    width: 100%;
}


/******************* budgetHub *************************/ 
.budget-section, .gift-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main { margin: auto; max-width: 960px; }

.table-container {
  margin: 10px;
  padding: 0;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 64vw;
}

tr.expandable > td {
  box-shadow: inset 0 3px 6px -3px rgba(0, 0, 0, .2);
  padding: 0;
}

tr.expandable > td > .inner {
  margin: 15px;
  overflow: hidden;
}

.table-main{
    width: 100%;
}

.inner-table{
    text-align: left;
}

.left-align{
    text-align: left;
}

.gauge-holders{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#chartdiv, #chartdiv2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 400px;
    height: 300px;
}

.name-row{
    width: 960px;
height: 56px;
left: 262px;
top: 735px;
border-radius: 10px;

/* navy night */

background: $navynight;
}

table { 
    border-collapse: collapse;
    width: 960px;
    border-spacing: 0 1em;
    border-color: transparent; }

.name-cell{
font-family: $josefin;
font-style: normal;
font-weight: normal;
font-size: 24px;
border: none;
line-height: 24px;
display: flex;
align-items: center;

/* white as winter snow */

color: #FFF5F5;
}